:root {
  --transition-duration: 0.4s;
  --transition-easing: cubic-bezier(0.25, 0.74, 0.22, 0.99);
  --button-background-size: 20px;
  --t-primary: #dfb5f5;
  --t-color: #313e48;
  --btn-height: 20px;
  --icon-width: var(--btn-height);
}

* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}
body {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;
  overflow-y: scroll;
}
iframe {
  border: 0;
}
.single-demo {
  position: relative;
}

/*Button*/
.btn {
  border: 0;
  box-shadow: none;
  background-color: transparent;
  position: relative;
  overflow: clip;
  cursor: pointer;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-easing);
  height: calc(var(--btn-height) * 2);
  padding: 0 21px 0 20px;
  text-decoration: none;
}
.btn.btn--primary:hover {
  color: var(--t-primary);
  --button-background-size: 1px;
}
.btn:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  transition-property: box-shadow;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-easing);
  z-index: 1;
}
.btn,
.btn:after {
  border-radius: var(--btn-height);
}
.btn.btn--primary,
.btn.btn--primary:disabled {
  color: var(--t-color);
}
.btn.btn--circle.btn--primary:after {
  box-shadow: inset 0 0 0 var(--button-background-size) var(--t-primary);
}
.btn--circle {
  width: calc(var(--btn-height) * 2);
  padding-left: 0;
  padding-right: 0;
}
.btn .icon {
  pointer-events: none;
  transition: none;
  vertical-align: middle;
  transition-property: color, transform, opacity;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-easing);
  display: inline-block;
  width: calc(var(--icon-width) * 0.8);
  height: calc(var(--icon-width) * 0.8);
  flex-shrink: 0;
  position: relative;
  font-size: 14px;
  line-height: 1;
  z-index: 10;
}

.btn-go {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  z-index: 10;
}
